/* ------------------------------------------------------------------ */

/* a. General Styles
/* ------------------------------------------------------------------ */

body {
    background: #0f0f0f;
}
/* ------------------------------------------------------------------ */

/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../images/background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}
/* vertically center banner section */

header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}
header .banner-text {
    width: 100%;
}
header .banner-text h1 {
    font: 90px/1.1em'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h1 a {
    color: #fff;
}
header .banner-text h3 {
    font: 18px/1.9em'verdana', serif;
    color: #A8A8A8;
    margin: 0 auto;
    padding: 2px;
    width: 87%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    text-align: justify;
    background: url(../images/overlay-bg.png) repeat;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}
header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
}
header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}
header .banner-text img {
    margin-right: 30px;
    vertical-align: middle;
}
/* header social links */

header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 50px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a {
    color: #fff;
}
header .social li a:hover {
    color: #33ccff;
}
/* scrolldown link */

header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
header .scrolldown a:hover {
    color: #33ccff;
}
/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/* nav-wrap */

#nav-wrap {
    font: 12px'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background: url(../images/overlay-bg.png) repeat;
}
.opaque {
    background-color:#00ccff;
}
/* hide toggle button */

#nav-wrap > a.mobile-btn {
    display: none;
}
ul#nav {
    min-height: 48px;
    width: auto;
    /* center align the menu */
    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}
/* Links */

ul#nav li a {
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
ul#nav li a:active {
    background-color: transparent !important;
}
ul#nav li.current a {
    color: #33ccff;
}
/* ------------------------------------------------------------------ */

/* c. Current Workshops Section
/* ------------------------------------------------------------------ */

#current {
    background: #00ccff;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}
#current a,
#current a:visited {
    color: #fff;
}
#current a:hover,
#current a:focus {
    color: #33ccff;
}
#current h2 {
    font: 22px/30px'verdana-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
}
#current p {
    line-height: 30px;
    color: #7A7A7A;
    text-align: center;
}
#current .download {
    width: 58.33333%;
    padding-top: 6px;
}
#current .main-col {
    padding-right: 5%;
}
#current .download .button {
    margin-top: 6px;
    background: #444;
}
#current .download .button:hover {
    background: #fff;
    color: #2B2B2B;
}
#current .download .button i {
    margin-right: 15px;
    font-size: 20px;
}
/* ------------------------------------------------------------------ */

/* d. Call for Paper Section
/* ------------------------------------------------------------------ */

#call {
    background: #00ccff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}
#call a,
#call a:visited {
    color: #33ccff;
}
#call a:hover,
#call a:focus {
    color: #313131;
}
#call h1 {
    font: 18px/24px'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#call h1 span {
    border-bottom: 3px solid #33ccff;
    padding-bottom: 6px;
}
#call h3 {
    font: 25px/30px'opensans-bold', sans-serif;
}
#call .header-col {
    padding-top: 9px;
}
#call .main-col {
    padding-right: 10%;
}
.description {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}
#call .info {
    font: 16px/24px'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}
#call .info span {
    margin-right: 5px;
    margin-left: 5px;
}
#call .date {
    font: 15px/24px'opensans-regular', sans-serif;
    margin-top: 6px;
}
/* e. sponsors Section
/* ------------------------------------------------------------------ */

#sponsors {
    background: #2B2B2B;
    padding-top: 90px;
    padding-bottom: 60px;
}
#sponsors h1 {
    font: 15px/24px'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
}
/* sponsors Content */

#sponsors-wrapper .columns {
    margin-bottom: 36px;
}
.sponsors-item .item-wrap {
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* ------------------------------------------------------------------ */

/* e. About Section
/* ------------------------------------------------------------------ */

#about {
    background: #00ccff;
    padding-top: 90px;
    padding-bottom: 60px;
}
#about h1 {
    font: 15px/24px'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
}

#about-wrapper .columns {
    margin-bottom: 36px;
}
.about-item .item-wrap {
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* ------------------------------------------------------------------
/* g. Past Workshops
/* ------------------------------------------------------------------ */

#past {
    background: #00ccff url(../images/testimonials-bg.jpg) no-repeat center center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
}
#past .text-container {
    padding-top: 96px;
    padding-bottom: 66px;
}
#past h1 {
    font: 18px/24px'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}
#past h1 span {
    display: none;
}
#past .header-col {
    padding-top: 9px;
}
#past .header-col h1:before {
    font-family: 'FontAwesome';
    content: "\f10d";
    padding-right: 10px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: #fff;
}
/* Blockquotes */

#past blockquote {
    margin: 0 0px 30px 0px;
    padding-left: 0;
    position: relative;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#past blockquote:before {
    content: none;
}
#past blockquote p {
    font-family: 'librebaskerville-italic', serif;
    padding: 0;
    font-size: 24px;
    line-height: 48px;
    color: #fff
}
#past blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    color: #fff;
}
#past blockquote cite:before {
    content: "\0040";
}
#past blockquote cite a,
#past blockquote cite a:visited {
    color: #8B9798;
    border: none
}
/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */

.flexslider a:active,
.flexslider a:focus {
    outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides li {
    margin: 0;
    padding: 0;
}
/* Necessary Styles */

.flexslider {
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
}
.flexslider .slides {
    zoom: 1;
}
.flexslider .slides > li {
    position: relative;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Suggested container for slide animation setups. Can replace this with your own */

.flex-container {
    zoom: 1;
    position: relative;
}
/* Clearfix for .slides */

.slides:before,
.slides:after {
    content: " ";
    display: table;
}
.slides:after {
    clear: both;
}
/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}
/* Slider Styles */

.slides {
    zoom: 1;
}
.slides > li {
    /*margin-right: 5px; */
    overflow: hidden;
}
/* Control Nav */

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}
/* ------------------------------------------------------------------ */

/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
    background: #191919;
    padding-top: 96px;
    padding-bottom: 102px;
    color: #636363;
}
#contact .section-head {
    margin-bottom: 42px;
}
#contact a,
#contact a:visited {
    color: #33ccff;
}
#contact a:hover,
#contact a:focus {
    color: #fff;
}
#contact h1 {
    font: 18px/24px'verdana', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #EBEEEE;
    margin-bottom: 6px;
}
#contact h1 span {
    display: none;
}
#contact h1:before {
    font-family: 'FontAwesome';
    content: "\f0e0";
    padding-right: 10px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: #ebeeee;
}
#contact h4 {
    font: 16px/24px'verdana', sans-serif;
    color: #EBEEEE;
    margin-bottom: 6px;
}
#contact p.lead {
    font: 18px/36px'verdana-light', sans-serif;
    padding-right: 3%;
}
#contact .header-col {
    padding-top: 6px;
}
/* Twitter Feed */

#twitter {
    margin-top: 12px;
    padding: 0;
}
#twitter li {
    margin: 6px 0px 12px 0;
    line-height: 30px;
}
#twitter li span {
    display: block;
}
#twitter li b a {
    font: 13px/36px'opensans-regular', Sans-serif;
    color: #474747 !important;
    border: none;
}
/* ------------------------------------------------------------------ */

/* i. Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}
footer a,
footer a:visited {
    color: #525252;
}
footer a:hover,
footer a:focus {
    color: #fff;
}
/* copyright */

footer .copyright {
    margin: 0;
    padding: 0;
}
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
    display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright li:first-child:before {
    display: none;
}
/* social links */

footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}
footer .social-links li:first-child {
    margin-left: 0;
}
/* Go To Top Button */

#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #525252;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}
#go-top a:hover {
    background-color: #33ccff;
}
