body {
	width:100%;
	height:840px;
	background:url("../img/background.jpg") top center no-repeat fixed;
	padding:25px 0;
	background-size:100%;
	text-align:left;
}

h1 {
	text-align: center;
}

#logo {
		text-align: center;
		margin-bottom: 50px;
}

#logo img{
    /*margin-left: 15px; */
    width: 200px;
}

.conatiner {
	margin-top: 50px;
	border: seagreen solid 2px;
    background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
}

.container-workshop{
 margin: 0 15%; 
}

.container-workshop .panel {
	text-align: center;
}

.container-workshop .panel i {
	font-size: 50px;
	padding: 10px 0 ;
}

.container-workshop .panel p {
	font-size: 20px;
}

.container-workshop .panel span {
	font-size: 15px;
	padding: none;
	margin: none;
}

.container-speaker {
		background-image:  linear-gradient(0deg, rgba(51, 255, 153, 0.5), rgba(51, 255, 153, 0.2));
		padding:  10px;
}

.container-speaker .speaker-bio {
	font-size: 17px;
}

.container-workshop-details  {
	font-size: 17px;
}
.container-workshop-details a {
	color: green;
}

.container-workshop-details .beforeWorkshop h4 {
	font-size: 22px;
	font-style: oblique;
}

.container-sponsors img {
	width: 300px;
}

.container-sponsors .sm {
	display: inline;
	width: 60px;
}

.container-sponsors .center {
	text-align: center;
}

.container-sponsors .sponsorBox{
	border-right: 1px red solid;
}
